@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: local(''),
       url('/fonts/quicksand-v30-latin-300.woff2') format('woff2'),
       url('/fonts/quicksand-v30-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local(''),
       url('/fonts/quicksand-v30-latin-regular.woff2') format('woff2'),
       url('/fonts/quicksand-v30-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local(''),
       url('/fonts/quicksand-v30-latin-500.woff2') format('woff2'),
       url('/fonts/quicksand-v30-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local(''),
       url('/fonts/quicksand-v30-latin-600.woff2') format('woff2'),
       url('/fonts/quicksand-v30-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local(''),
       url('/fonts/quicksand-v30-latin-700.woff2') format('woff2'),
       url('/fonts/quicksand-v30-latin-700.woff') format('woff');
}

:root {
  --body-background-color: #004a99;
  --body-text-color: #cce6ff;
  --card-background-color: #10579e;
  --nav-background-color: #004a99;
  --nav-border-bottom-color: transparent;
  --nav-current-border-bottom-color: transparent;
  --card-border-color: transparent;
  --down-border-left-color: #eb3b5a;
  --down-background-color: #6b1020;
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #20bf6b;
  --tag-color: #004a99;
  --tag-up-background-color: #20bf6b;
  --tag-down-background-color: #eb3b5a;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}

body {
  background-color: var(--body-background-color);
}

body::before,
body::after {
  background: linear-gradient(to bottom, var(--body-background-color), var(--body-background-color)00);
}

h1, h2, h3, h4, h5, h6, p, sub, li, a, article, div, span {
  font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--body-text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold !important;
}

p {
  font-size: 16pt !important;
}

article {
  font-size: 14pt;
}

figcaption {
  text-align: center;
  color: var(--body-text-color)81;
}

hr {
  border: 5px solid var(--nav-border-bottom-color);
  box-shadow: 0 5px 10px #00000015;
}

article {
  box-shadow: 0 5px 10px #00000015;
}

a:link {
  color: #9ec2e6;
}

a:visited {
  color: #90b2d4;
}

a:hover {
  color: #a8cef5;
}

a:active {
  color: #a7ccf1;
}

nav {
  scrollbar-width: none;
}
